#app4 .circle{
    width: 30vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid black;
  
}
#app4 .circle.active{
    animation: colorChange 2s infinite alternate linear;
}
@keyframes colorChange{
    0%{
        background: red;
    }
    100%{
        background: green;
    }
}